#calculadora{
                width: 250px;
                height: 300px;
                padding: 10px;
                margin: auto;
                margin-top: 50px;
                border-bottom-right-radius: 10px;
                box-shadow: 2px 2px 2px black;
                background-color: rgb(80, 77, 77);
}
h1{
                margin: 0;
                padding: 0;
                text-align: center;
                color: rgb(182, 182, 24);
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

label{
                font-size: 1.2em;
                color: rgb(182, 182, 24);
                font-family: Helvetica, sans-serif;

}
input{
                padding: 5px;
                font-size: 1.1em;
                text-align: center;
}
#botoes{
                margin-top: 10px;
                margin-left: 15px;
}
#botoes > button{
                width:40px ;
                height: 40px;
                font-size: 1.2em;
}
#reset{
                background-color: violet;
}

#resultado{
                font-size: 1.5em;
                text-align: center;
                color: white;
}
